.gap-1 {
    gap: 11px;
}

.gap-2 {
    gap: 16px;
}

.gap-3 {
    gap: 22px;
}

.gap-4 {
    gap: 19px;
}

.gap-5{
    gap: 44px;
}

.gap-6{
    gap: 10px;
}

.padding-1 {
    padding: 23px 0px;
}

.margin-top-1 {
    margin-top: 40px;
}

.margin-top-2 {
    margin-top: 8px;
}

.margin-top-3 {
    margin-top: 16px;
}

.margin-top-4 {
    margin-top: 3px;
}

.margin-top-5 {
    margin-top: 28px;
}

.margin-top-6 {
    margin-top: 25px;
}

.margin-top-7{
    margin-top: 104px;
}

.margin-left-1 {
    margin-left: 151px;
}

.margin-left-2 {
    margin-left: 142px;
}